<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta
      name="description"
      content="Test Appliation - Carlos Wilson 2023"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <header>
          <header>
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#"><%= user.email %></a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">User Info</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
            </nav>
          </header>
        </header>
        <main>
          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>This is your latest info</strong> Feel free to save any updates. You can also log out at any time.
          </div>
          <form class="form-horizontal" action="/save" method="POST">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" value="<%= user.email %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" value="<%= user.password %>">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Balance:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="balance" id="balance" placeholder="Enter balance" value="<%= user.balance %>">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
              </div>
            </div>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
